<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PeTTown</title>
        <link rel="stylesheet" href="/about_styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="script.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="position">
            <div class="header_name"><p><span class="weight">PeT</span>Town</p></div>
            <nav>
                <div class="topnav" id="myTopnav">
                    <a th:href="@{'/home'}">HOME</a>
                    <a th:href="@{'/about'}">ABOUT</a>
                    <div class="dropdown">
                        <a href="#" class="dropbtn">CONTACTS</a>
                        <div class="dropdown-content">
                            <a href="https://github.com/AlikKostandov"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>GitHub</a>
                            <a href="https://twitter.com/kost4ndov"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                            </svg>Twitter</a>
                            <a href="https://t.me/AlikKostandov"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                            </svg>Telegram</a>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>8(800)000-00-00</a>
                        </div>
                    </div>
                    <a th:href="@{'/pets'}">PETS</a>
                    <a th:href="@{'/help'}">HELP</a>
                </div>
            </nav>
            </div>
        </header>
        <main>
            <div class="wrapper">
                    <div class="main_about">
                        <div class="about_left">
                            <img src="/image/vet.jpg" alt="mac">
                        </div>
                        <div class="about_right">
                            <h1>SOME WORDS ABOUT US</h1>
                            <p>The company was established in February 2022 by Alexander Kostandov. In order to reduce the number of homeless and helpless animals, dozens of shelters have been built where animals can feel warm and safe, and even healthy under our strict supervision.   
                        </div>
                    </div>
                </div>
                <div class="main_team">
                    <h1>OUR TEAM</h1>
                    <div class="line"></div>
                    <div class="team_cards">
                        <div class="cardS">
                            <div class="photo"></div>
                            <h4 class="name">Alik Kostandov</h4>
                            <p>Designer</p>
                            <p class="about_position">Provides the visual part of the site. Working with the Figma graphics editor.</p> 
                        </div>
                        <div class="cardS">
                            <div class="photo"></div>
                            <h4 class="name">Alik Kostandov</h4>
                            <p>Architect</p>
                            <p class="about_position">Engaged in the development, creation and maintenance of the software structure, network, server, etc.</p>
                        </div>
                        <div class="cardS">
                            <div class="photo"></div>
                            <h4 class="name">Alik Kostandov</h4>
                            <p>Frontend Developer</p>
                            <p class="about_position">Updating the website design, working on HTML and CSS, writing a script in JS.</p>        
                        </div>
                        <div class="cardS">
                            <div class="photo"></div>
                            <h4 class="name">Alik Kostandov</h4>
                            <p>Backend Developer</p>
                            <p class="about_position">Prescribes the basic internal logic of the platform.Working on Java, Spring and PostgreSQL.</p>
                        </div>    
                   </div>
                </div>
                <div class="main_services">
                    <h1>OUR SERVICES</h1>
                    <div class="line2"></div>
                    <p class="short_story"><em>Our staff employs the best veterinarians and dog handlers. You do not need to worry about your pets, they are safe in our hands, we will surround them with care, warmth and affection.</em></p>
                    <div class="service_cards">
                        <div class="cardS card1">
                            <div class="picture"><img src="/image/hotel.png" alt="hotel"></div>
                            <h3 class="service_name">Pet Hotel</h3>
                            <p class="about_service">We will take care of your pet while you are out of town</p>
                        </div>
                        <div class="cardS card2">
                            <div class="picture"><img src="/image/veterinary.png"></div>
                            <h3 class="service_name">Veterinary Clinic</h3>
                            <p class="about_service">We will prescribe treatment if necessary</p>
                        </div>
                        <div class="cardS card3">
                            <div class="picture"><img src="/image/search.png"></div>
                            <h3 class="service_name">Search Lost</h3>
                            <p class="about_service">We will find your pet and bring it home</p>
                        </div>
                        <div class="cardS card4">
                            <div class="picture"><img src="/image/pet.png"></div>
                            <h3 class="service_name">Give Pets</h3>
                            <p class="about_service">We will help you find a new furry friend</p>
                        </div>
                    </div>
                </div>
        </main>
        <footer>
            <div class="foot">
                <div class="address"><p class="weight add"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>Moscow, Gorokhovsky allyway 566</p></div>
                <div class="logo"><p><span class="weight">PeT</span>Town</p></div>
                <div class="tel"><p class="tel_font"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
</svg>8 (800) 000-00-00</p>
                <p class="p">Daily from 08:00 to 21:00</p></div>
            </div>
        </footer>
    </body>
</html>